<div class="container" style="font-size:150%">
  <div class="container" style="padding-top:10px">
    <div class="row">
      <ul class="nav nav-pills" >
         <li routerLinkActive="active"><a routerLink="/challenges">Challenges</a></li>
        <li routerLinkActive="active" ><a routerLink="/solution">Solution</a></li>
      </ul>
    </div>
    </div>

  <div class="container" id="challenges" style="padding-top:10px">
      <div class="row">
         <div class="col-md-6">
           <label for="">Solution</label> <br>
           <textarea name="name" rows="4" cols="55"></textarea>
         </div>
         <div class="col-md-6">
           <label for="">Alternate Solution</label> <br>
           <input type="text" name="altSolution" value="">
           <a href=""><img src="assets/Add_icon_sm.png" alt="AddIcon" /></a>
         </div>
      </div>

      <div class="row" style="padding-top:30px">
        <div class="col-md-6">
          <label for="">Reference</label> <br>
          <textarea name="name" rows="4" cols="55"></textarea>
        </div>

      </div>

      <div class="">
        <button class="btn btn-default pull-right btn-lg" type="button" name="button">Cancel</button> &nbsp;
         <button class="btn btn-success pull-right btn-lg" type="submit" name="button">Save</button> &nbsp;

      </div>

  </div>

</div>
